<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

        
	<context:component-scan  base-package="net.tetrakoopa.mdu4j.service" />
	<context:component-scan  base-package="net.tetrakoopa.mdu4j.front.servlet.view,net.tetrakoopa.mdu4j.front.servlet.component,net.tetrakoopa.mdu4j.front.servlet.helper,net.tetrakoopa.mdu4j.front.servlet.parameter" />
	<context:component-scan  base-package="net.tetrakoopa.mdu4j.service" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
	</context:component-scan>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!--property name="host" value="${mail:host}" />
		<property name="port" value="${mail:port}" />
		<property name="username" value="${mail:username}" />
		<property name="password" value="${mail:password}" /-->

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

</beans>